<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.fyxridd.lib.core.lang.LangUserMapper">
    <select id="exist" resultType="java.lang.Boolean">
        select count(*) from lang_user where `name`=#{name};
    </select>

    <select id="select" resultType="com.fyxridd.lib.core.lang.LangUser">
        select `name`,`lang` from lang_user where `name`=#{name};
    </select>

    <insert id="insert">
        insert into lang_user(`name`, `lang`) values (#{name}, #{lang});
    </insert>

    <update id="update">
        update lang_user set `lang`=#{lang} where `name`=#{name};
    </update>
</mapper>