<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.fyxridd.lib.core.realname.RealNameMapper">
    <select id="select" resultType="com.fyxridd.lib.core.realname.RealName">
        select `lower_name` as `lowerName`,`name` from realname where `lower_name`=#{lowerName};
    </select>

    <insert id="insert">
        insert into realname(`lower_name`, `name`) values (#{lowerName}, #{name});
    </insert>
</mapper>